
.notfound-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5; 
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  padding: 20px;
}

.notfound-content {
  background: white;
  max-width: 500px;
  width: 100%;
  padding: 50px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.notfound-error-code {
  font-size: 6rem;
  font-weight: 800;
  color: var(--primary-color); 
  margin: 0;
  line-height: 1;
}


.notfound-title {
  font-size: 2rem;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 15px;
}


.notfound-description {
  color: #666666;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.notfound-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}


.notfound-btn:hover {
  background-color: var(--primary-hover-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(29, 100, 1, 0.977);
}


.notfound-btn:active {
  transform: translateY(0);
  box-shadow: none;
}